

/* the entire About div */
.full-about {
  display: flex;
  flex-direction: column;
  padding-left: 210px;
  transition: padding 300ms;

}

.shrinked-about {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  transition: padding 300ms;
}


/* Headers  */
.Headerr-1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
}

.Headerr-2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}


/* Paragraphs */
.paragraph-1 {
    margin-top: 80px;
    font-size: 1.5em;
}

.paragraph-2 {
    margin-top: 20px;
    font-size: 1.5em;
}

#hover-over-me {
  font-size: 1.8em;
  text-align: center;
}

.testimony-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
    transition: 300ms;
  }
  
   
  .man-text-container,
  .woman-text-container,
  .miles-text-container {
    padding-top: 50px;
    opacity: 0;
    transition: all 300ms;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Lora', serif;
  }

  .woman-text-container {
    position: relative;
    bottom: 270px;
  }
 
  .miles-text-container {
    position: relative;
    bottom: 500px;
  }


  
  .man-img:hover ~ .man-text-container,
  .woman-img:hover ~ .woman-text-container,
  .miles-img:hover ~ .miles-text-container {
    opacity: 1;
  }
  
  .man-title,
  .woman-title,
  .miles-title {
    font-family: 'PT Serif', serif;
  }