.Page {
    background: url("../../Images/fieldbackground.jpg");
    background-size: cover;
    background-attachment: fixed;
}



/* the entire About div */
.About {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 210px;
    max-width: 80%;
}



/* Headers  */
.Headerr-1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
}

.Headerr-2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}


/* Paragraphs */
.paragraph-1 {
    margin-top: 80px;
    font-size: 1.5em;
}

.paragraph-2 {
    margin-top: 20px;
    font-size: 1.5em;
}




.testimony-container {
    border: solid 3px red;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    transition: 300ms;
}

/* .man-text-container, .woman-text-container , .miles-text-container {
    display: none;
} */

.woman-text-container, .miles-text-container, .man-text-container {
    display: none;
    transition: 300ms;
}


.man-img:hover ~ .man-text-container {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Lora', serif;
    transition: 300ms;
}

.man-title {
    font-family: 'PT Serif', serif;
    transition: 300ms;
}

.woman-img:hover ~ .woman-text-container {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Lora', serif;
    transition: 300ms;
}

.woman-title {
    font-family: 'PT Serif', serif;
    transition: 300ms;
}

.miles-img:hover ~ .miles-text-container {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Lora', serif;
    transition: 300ms;
}

.miles-title {
    font-family: 'PT Serif', serif;
    transition: 300ms;
}