.shopping-cart-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    overflow-y: scroll;
    z-index: 1;
  }
  
  .shopping-cart-modal.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .shopping-cart-modal.exit {
    opacity: 0;
  }
  
  .shopping-cart-modal-content {
    width: 800px;
    min-height: 600px;
    /* background-image: url(../../Images/flowersSidebarBackground.png); */
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);


  }

  .shopping-cart-modal.enter-done .shopping-cart-modal-content {
    transform: translateY(0);
  }
  
  .shopping-cart-modal.exit .shopping-cart-modal-content {
    transform: translateY(-200px);
  }
  
  .shopping-cart-modal-header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 30px 0px 30px 0px;
  }
  .shopping-cart-modal-header-child {
    justify-self: center;
  }
  
  .shopping-cart-modal-body {
    max-height: calc(80vh - 210px);
    overflow-y: auto;
  }
  .shopping-cart-modal-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }