.NaviBar {
    margin-left: 200px;
    transition: 300ms;
}


.NaviBar-Closed {
    margin-left: 60px;
    transition: 300ms;
}

.nav-link {
    cursor: pointer;
}

.items-aligned-end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontawesome-counter {
    font-size: 1.3em;
}